@font-face{
	font-family: AtemicaSans_PERSONAL_USE_ONLY;
	src :url("fuentes/AtemicaSans_PERSONAL_USE_ONLY.otf");
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
    margin: 0;
	background-image: url("imagenes/fondo.jpg");
}
.container {
	margin-top:25px;
    background-color: #fff;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 23%;
    text-align: center;
	height:auto;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.container button {
    background-color: #0A9396;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005F73;
}

/*------- HEADER --------*/

header{
	display:flex;
	width:98%;
    height:auto;
	background: radial-gradient(circle, rgba(148, 210, 189, 1) 0%, rgba(10, 147, 150, 1) 100%);
	justify-content:space-between;
	align-items:center;
	padding:1%;
}

.izquierda{
	display:flex;
	align-items:center;
	gap:1.5rem;
	width:100%;
	height:auto;
}

.logo{
	width:25%;
	height:auto;
		margin:0;
}

.logo img{
	width:100%;
	height:auto;
	border-radius:15px;
}

.contacto{
	display:flex;
	flex-direction:row;
	height:auto;
	width:100%;
	justify-content: flex-end;
}
a{
	font-family: AtemicaSans_PERSONAL_USE_ONLY;
}


nav{
	display:flex;
	width:80%;
	height:auto;
	justify-content:space-evenly;
}

nav a:link, nav a:visited{
	font-size:16px;
	text-decoration:none;
	color:#001219;
	display:flex;
	width:25%;
	height:45px;
	justify-content:center;
    align-items:center;
	transition:all 0.3s;
}

nav a:hover{
	background-color:white;
	color:#001219;
	font-size:18px;
	border-radius:5px;
	height:45px;
}


button{
	width:100%;
	height:auto;
	border:0;
	background:transparent;
	padding:0;
}
button a:link, button a:visited{
	font-size:20px;
	text-decoration:none;
	color:#001219;
	display:flex;
	width:100%;
	height:45px;
	justify-content:center;
    align-items:center;
	transition:all 0.5s;
}
button a:hover{
	color:#001219;
	font-size:21px;
	border-radius:5px;
	height:51px;
}

.lista{
	height:auto;
	width:10%;
	align-items:center;
	position: relative;
    display: inline-block;
}
	.lista-content {
      position: absolute;
	  z-index:99;
      top: 100%;
      left: 0;
      background: #94D2BD;
      min-width: 160px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;
      border-radius: 0.5rem;
    }

    .lista:hover .lista-content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
	  
    }

    .lista-content a {
      color: #374151;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;
    }

    .lista-content a:hover {
      background: #f3f4f6;
    }
	
	/*---------------------FOOTER-----------------------------*/
footer{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background: radial-gradient(circle, rgba(148, 210, 189, 1) 0%, rgba(10, 147, 150, 1) 100%);
	width:100%;
	height:auto;
	margin-top:30px;
}
.contacto{
	width:90%;
	height:auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:2%;
}
	.ic{
		height:auto;
		width:17%;
	}
	.ic img{
		height:auto;
		width:30%;
	}

.logo2{
	height:auto;
	width:100%;
	display:flex;
	justify-content:center;
	margin-left:34%;
}
.logo2 img{
	height:auto;
	width:30%;
	border-radius:10px;
}
.datos{
	height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
	margin-top:10px;
	color:#001219;
	margin-bottom:30px;
}
.datos a{
	color:#001219;
	text-decoration:none;
}
.datos a:hover{
	color:white;

	border-radius:5px;
	transition: All 0.5s;
}
.copyright{
	width:100%;
	height:auto;
	background-color:#001219;
	display:flex;
	justify-content:center;
}
.copyright img{
	height:auto;
	width:2%;
}
.copyright p{
	font-size:15px;
	color:#46788C
}

/* responsive */
@media (max-width: 750px) {
	header{
	display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
	.contacto, nav{
		display:flex;
		flex-direction:column;
		align-items:center;
		width:100%;
		height:auto;
	}
	.contacto a{
		text-align:center;
	}
	.izquierda{
		display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
		.logo img{
			width:100%;
			height:auto;
		}
		.logo{
			width:30%;
			height:auto;
		}
		
		
	.container{
		width:80%;
		height:auto;
	}
		
		
	footer{
	display:flex;
	flex-direction:column-reverse;
}
	.contacto{
		padding:0;
		display:flex;
	}
	.contacto img{
		width:50%;
		height:auto;
	}
		.ic{
			display:flex;
			flex-direction:row;
			margin-bottom:15px;
			margin-top:15px;
		}
		.ic img{
			width:100%;
			height:auto;
		}
		.logo2{
			margin:0;
		}
	.datos{
		display:flex;
		flex-direction:column;
		align-items:center;
		width:100%;
		height:auto;
	}
	
}
	