body{
	margin:0;
	background-image: url("imagenes/fondo.jpg");
}

@font-face {
  font-family: "Billionary Personal Use Only";
  src: url("fuentes/Billionary Personal Use Only.ttf");
}

@font-face {
  font-family: "AtemicaSans_PERSONAL_USE_ONLY";
  src: url("fuentes/AtemicaSans_PERSONAL_USE_ONLY.otf");
}

/*------- HEADER --------*/

header{
	display:flex;
	width:98%;
    height:auto;
	background: radial-gradient(circle, rgba(148, 210, 189, 1) 0%, rgba(10, 147, 150, 1) 100%);
	justify-content:space-between;
	align-items:center;
	padding:1%;
}

.izquierda{
	display:flex;
	align-items:center;
	gap:1.5rem;
	width:100%;
	height:auto;
}

.logo{
	width:25%;
	height:auto;
		margin:0;
}

.logo img{
	width:100%;
	height:auto;
	border-radius:15px;
}

.contacto{
	display:flex;
	flex-direction:row;
	height:auto;
	width:100%;
	justify-content: flex-end;
}
a{
	font-family: AtemicaSans_PERSONAL_USE_ONLY;
}


nav{
	display:flex;
	width:80%;
	height:auto;
	justify-content:space-evenly;
	text-align:center;
}

nav a:link, nav a:visited{
	font-size:16px;
	text-decoration:none;
	color:#001219;
	display:flex;
	width:25%;
	height:45px;
	justify-content:center;
    align-items:center;
	transition:all 0.3s;
}

nav a:hover{
	background-color:white;
	color:#001219;
	font-size:18px;
	border-radius:5px;
	height:45px;
}


button{
	width:100%;
	height:auto;
	border:0;
	background:transparent;
	padding:0;
}
button a:link, button a:visited{
	font-size:20px;
	text-decoration:none;
	color:#001219;
	display:flex;
	width:100%;
	height:45px;
	justify-content:center;
    align-items:center;
	transition:all 0.5s;
}
button a:hover{
	color:#001219;
	font-size:21px;
	border-radius:5px;
	height:51px;
}

.lista{
	height:auto;
	width:10%;
	align-items:center;
	position: relative;
    display: inline-block;
}
	.lista-content {
      position: absolute;
	  z-index:99;
      top: 100%;
      left: 0;
      background: #94D2BD;
      min-width: 160px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;
      border-radius: 0.5rem;
    }

    .lista:hover .lista-content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
	  
    }

    .lista-content a {
      color: #374151;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;
    }

    .lista-content a:hover {
      background: #f3f4f6;
    }
	
	
/*--------- MAIN ----------*/
	main{
		display:flex;
		align-items:center;
		flex-direction:column;
		width:100%;
		height:auto;
	}
	.construccion img{
		height:auto;
		width:20%;
	}
	.descubrinostitle h2 {
  color: #005F73;
  font-family: "AtemicaSans_PERSONAL_USE_ONLY", sans-serif;
  margin-bottom: 10px;
}
.descubrinostitle{
	display:flex;
	width:96%;
	height:auto;
	align-items:center;
	justify-content:center;
	padding:2%;
}

.padre{
	display:flex;
	width:94%;
	height:auto;
	padding:2%;
	justify-content:center;
}
.receta{
  width: 25%;
  background-color: #c5e3d9;
  padding: 1%;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: AtemicaSans_PERSONAL_USE_ONLY, sans-serif;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left:20px;
  flex-direction: column;
  height:auto;
}
.receta img{
width:80%;
height:auto;
}
.receta h3{
	margin-bottom:0px;
}
.receta a{
	display:flex;
	text-decoration:none;
	color:black;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}

.recetas2{
	height:auto;
	width:90%;
	text-align:justify;
}
.recetas2 h3{
margin-bottom:0px;
}
.recetas2 h2{
	text-align:center;
	color:#CA6702;
	font-family: "Billionary Personal Use Only";
}
.recetas2 li, ol, ul{
	font-family: AtemicaSans_PERSONAL_USE_ONLY;
	margin-bottom:10px;
}
/*--------------HABLEMOS-----------------*/
.reseña {
    background-color: #bcebdb;
    padding: 1%;
    border-radius: 8px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
	width:98%;
	height:auto;
}

.reseña.mostrar {
    opacity: 1;
    transform: translateY(0);
	width:100%;
	height:auto;
}
.reseña.mostrar p{
	font-family: Billionary Personal Use Only;
}

.reseña h3 {
    margin: 0;
    color: #005F73;
}
.reseñas-intro h2,
.deja-reseña h2 {
  color: #005F73;
  font-family: "AtemicaSans_PERSONAL_USE_ONLY", sans-serif;
  font-size: 30px;
}
.reseñas-intro p {
  font-family: "AtemicaSans_PERSONAL_USE_ONLY", sans-serif;
  font-size: 20px;
  color: #0A9396;
}

.reseña .fecha {
    font-size: 0.9rem;
    color: #666;
	width:100%;
	height:auto;
}

.reseña .calificacion {
    font-size: 1.2rem;
    color: #f5b301;
    margin-top: 5px;
	width:100%;
	height:auto;
}

/* Formulario */
.deja-reseña input,
.deja-reseña textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.deja-reseña button {
    background-color: #005F73;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.deja-reseña button:hover {
    background-color: #b03b20;
}

/* Estrellas */
.estrellas {
    display: flex;
    margin-bottom: 10px;
	width:100%;
	height:auto;
}

.estrellas span {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.estrellas span.hover,
.estrellas span.seleccionada {
    color: #f5b301;
}
.deja-reseña {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:auto;
}
.deja-reseña h2 {
  text-align: center;
  margin-bottom: 20px;
}
	/*texto*/
.intro, .destacadas {
  width: 70%;
  background-color: #c5e3d9;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: AtemicaSans_PERSONAL_USE_ONLY, sans-serif;
  height:auto;
}

.intro h2, .destacadas h3 {
  color: #005F73;
  font-family: "Billionary Personal Use Only", cursive;
  margin-bottom: 10px;
}

.intro p {
  color: #0A9396;
  font-size: 16px;
  line-height: 1.5;
}

.destacadas ul {
  list-style-type: "🍽️ ";
  padding-left: 20px;
}

.destacadas li {
  margin-bottom: 8px;
  color: #333;
}
/*--------------- Buscador por Ingredientes ----------------*/	
.buscador {
	display: flex;
    align-items: center;
    background-color: #E9D8A6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: auto;
    flex-direction: column;
}

.buscador h2{
	font-family:Billionary Personal Use Only;
	color:#001219;
}

.busca{
	display:flex;
	flex-direction:row;
	width:100%;
	height:auto;
}

 .busca img{
	width:10%;
	height:auto;
}

.busca h2 {

    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 15px;
}

.busca input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.buscador button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #CA6702;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
	margin-top:20px;
}

.buscador button:hover {
    background-color: #BB3E03;
}

#resultado {
    display: none;
    margin-top: 15px;
    font-size: 16px;
    color: #001219;
    background-color: #fff;
    padding: 1%;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	height:auto;
}

h3{
	font-family:AtemicaSans_PERSONAL_USE_ONLY;
	font-size:18px;
	margin-bottom:50px;
}
.yoo{
	display:flex;
	width:100%;
	height:auto;
	justify-content: space-evenly;
	color: #005F73;
	font-family: "Billionary Personal Use Only", cursive;
	margin-bottom: 10px;
	align-items: center;
}
.fotito{
	width:20%;
	height:auto;
}
.fotito img{
	border-radius:50%;
}
.quiensoy{
	width:50%;
	height:auto;
	
}
div.primaria img {
    display: block !important;
}

div.secundaria img {
    display: none !important;
}

/*---------------------FOOTER-----------------------------*/
footer{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background: radial-gradient(circle, rgba(148, 210, 189, 1) 0%, rgba(10, 147, 150, 1) 100%);
	width:100%;
	height:auto;
	margin-top:30px;
}
.contacto{
	width:90%;
	height:auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:2%;
}
	.ic{
		height:auto;
		width:17%;
	}
	.ic img{
		height:auto;
		width:30%;
	}

.logo2{
	height:auto;
	width:100%;
	display:flex;
	justify-content:center;
	margin-left:34%;
}
.logo2 img{
	height:auto;
	width:30%;
	border-radius:10px;
}
.datos{
	height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
	margin-top:10px;
	color:#001219;
	margin-bottom:30px;
}
.datos a{
	color:#001219;
	text-decoration:none;
}
.datos a:hover{
	color:white;

	border-radius:5px;
	transition: All 0.5s;
}
.copyright{
	width:100%;
	height:auto;
	background-color:#001219;
	display:flex;
	justify-content:center;
}
.copyright img{
	height:auto;
	width:2%;
}
.copyright p{
	font-size:15px;
	color:#46788C
}

/* _______________________RESPONSIVE______________________ */

@media (max-width: 850px) {

header{
	display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
	.contacto, nav{
		display:flex;
		flex-direction:column;
		align-items:center;
		width:100%;
		height:auto;
	}
	.contacto a{
		text-align:center;
	}
	.izquierda{
		display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
		.logo img{
			width:100%;
			height:auto;
		}
		.logo{
			width:80%;
			height:auto;
		}
		
.buscador{
	display:flex;
	width:75%;
	height:auto;
	justify-content:center;
}
	.busca img{
		width:15%;
		height:auto;
	}
	.busca input{
		width:80%;
	}
		
#vlightbox1{
	display:flex;
	align-items:center;
	flex-direction:column;
}

.padre{
	display:flex;
	flex-direction:column;
}
	.receta{
		width:90%;
		height:auto;
		
	}
		
.reseñas-intro, .reseñas-lista, .deja-reseña{
	width:80%;
	height:auto;
}

.recetas2 h3{
	text-align:center;
}
	div.primaria img {
        display: none !important;
    }
    
    div.secundaria img {
        display: block !important;
    }
	
.yoo{
	display:flex;
	flex-direction: column;
}
.quiensoy, .fotito{
	width:80%;
	height:auto;
	text-align:justify;
}
.fotito{
	text-align:center;
}
	

footer{
	display:flex;
	flex-direction:column-reverse;
}
	.contacto{
		padding:0;
		display:flex;
	}
	.contacto img{
		width:50%;
		height:auto;
	}
		.ic{
			display:flex;
			flex-direction:row;
			margin-bottom:15px;
			margin-top:15px;
		}
		.ic img{
			width:100%;
			height:auto;
		}
		.logo2{
			margin:0;
		}
	.datos{
		display:flex;
		flex-direction:column;
		align-items:center;
		width:100%;
		height:auto;
	}
	
}